{% block sidebar %}

<style>
  .card {
    box-shadow: 0 16px 48px #e3e7eb;
  }
</style>

<!-- Sidebar Widgets Column -->
<div class="col-md-4 float-right">
  <div class="card my-4">
    <h5 class="card-header">About Me</h5>
    <div class="card-body">
      <p class="card-text">
        I am Saroj Bhattarai. I am currently a student at the Crown Institute of
        Higher Education, studying IT. I love Sports and I like writing about
        it.
      </p>
    </div>
  </div>
</div>

{% endblock sidebar %}
